:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
}

.page {
    background-color: rgba(226, 248, 209, 1);
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Inter-Regular, Inter, serif;
}
.container {
    background-color: #fdfffb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    position: relative;
    width: 273px;
    padding: 35px 12px 8px;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    width: 233px;
}
.group {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    width: 233px;
}
.icon-text {
    width: 52px;
    height: 53px;
    margin-left: 7px;
    align-self: center;
    border-radius: 6px;
}
.linect {
    color: rgba(92, 92, 92, 1);
    font-family: Helvetica;
    font-size: 36px;
    line-height: 43px;
    margin-left: 11px;
    align-self: center;
    white-space: nowrap;
}
.group-1 {
    background-color: rgba(207, 238, 182, 0.44);
    display: flex;
    margin-top: 35px;
    justify-content: flex-start;
    align-self: flex-start;
    width: 225px;
    padding: 6px 12px 11px;
    border-radius: 5px;
}
.icon-home {
    width: 22px;
    height: 24px;
    margin-left: 8px;
    align-self: flex-end;
}
.dashboard {
    color: rgba(87, 118, 61, 1);
    font-size: 17px;
    line-height: 21px;
    align-self: flex-end;
    white-space: nowrap;
    margin: 0 0 8px 14px;
}
.group-item-0 {
    width: 233px;
    height: 32px;
    display: flex;
    margin-top: 23px;
    justify-content: flex-start;
    align-self: center;
}
.icon-box {
    width: 25px;
    height: 28px;
    margin-left: 20px;
    align-self: flex-end;
}
.applications {
    color: rgba(92, 92, 92, 1);
    font-size: 17px;
    line-height: 21px;
    align-self: flex-end;
    white-space: nowrap;
    margin: 0 0 11px 11px;
}
.group-item-1 {
    width: 233px;
    height: 30px;
    display: flex;
    margin-top: 37px;
    justify-content: flex-start;
    align-self: center;
}
.icon-layer {
    width: 24px;
    height: 26px;
    margin-left: 21px;
    align-self: flex-end;
}
.requests {
    color: rgba(92, 92, 92, 1);
    font-size: 17px;
    line-height: 21px;
    align-self: flex-end;
    white-space: nowrap;
    margin: 0 0 9px 11px;
}
.group-item-2 {
    width: 233px;
    height: 30px;
    display: flex;
    margin-top: 36px;
    justify-content: flex-start;
    align-self: center;
}
.icon-chat {
    width: 26px;
    height: 25px;
    margin-left: 20px;
    align-self: flex-end;
}
.discussion {
    color: rgba(92, 92, 92, 1);
    font-size: 17px;
    line-height: 21px;
    align-self: flex-end;
    white-space: nowrap;
    margin: 0 0 9px 10px;
}
.vertical-line {
    background-color: rgba(111, 180, 0, 0.42);
    position: absolute;
    right: 0px;
    top: 119px;
    width: 7px;
    height: 55px;
    border-radius: 3.5 0 0 3.5px;
}
.bg {
    width: 204px;
    height: 3px;
    align-self: center;
    margin: 42px 0 0 3px;
}
.footer {
    display: flex;
    flex-direction: column;
    margin-top: 347px;
    justify-content: flex-start;
    align-self: center;
    width: 233px;
}
.group-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    width: 217px;
}
.background {
    width: 204px;
    height: 3px;
    align-self: center;
    margin-left: 3px;
}
.view {
    display: flex;
    margin-top: 11px;
    justify-content: space-between;
    align-self: center;
    width: 217px;
}
.icon-book {
    width: 21px;
    height: 17px;
    align-self: center;
    margin: 1px 0 0 2px;
}
.icon-info {
    width: 21px;
    height: 22px;
    align-self: center;
}
.icon-question {
    width: 21px;
    height: 20px;
    margin-right: 1px;
    align-self: center;
}
.icon-share {
    width: 17px;
    height: 18px;
    margin-right: 1px;
    align-self: center;
}
.icon-email {
    width: 21px;
    height: 16px;
    align-self: center;
}
.info {
    color: rgba(0, 0, 0, 1);
    font-size: 5px;
    line-height: 9px;
    align-self: flex-end;
    max-width: 203px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 29px 15px 0 0;
}
.container-1 {
    padding-top: 29px;
    display: flex;
    flex-direction: column;
    margin-left: 27px;
    justify-content: flex-start;
    align-self: center;
    height: 831px;
}
.searchbar {
    box-shadow: 6px 10px 9px 2px rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 960px;
    padding: 13px 12px 12px;
    border-radius: 20px;
}
.icon-search {
    width: 24px;
    height: 24px;
    align-self: center;
    margin: 0 0 1px 16px;
}
.group-3 {
    display: flex;
    margin-right: 13px;
    justify-content: space-between;
    align-self: center;
    height: 35px;
    width: 162px;
}
.icon-setting {
    width: 22px;
    height: 23px;
    align-self: center;
    margin-top: 6px;
}
.icon-time {
    width: 21px;
    height: 20px;
    align-self: center;
    margin: 3px 1px 0 0;
}
.icon-notification {
    width: 18px;
    height: 20px;
    align-self: center;
    margin: 3px 1px 0 0;
}
.icon-user {
    width: 36px;
    height: 35px;
    align-self: center;
}
.body-1 {
    background-color: #ffffff;
    margin-top: 30px;
    align-self: center;
    width: 960px;
    height: 712px;
    border-radius: 20 20px 0 0;
}
